.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.cover {
	border: 5px solid;
	border-radius: 10px;
}

.info {
	margin: 50px;
	font-size: 25px;
}
.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
}

hr{
	margin: 0 auto;
}